html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

* {
  box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

.center {
    text-align: center;
    background-color: rgb(255, 255, 255);
}

.morara {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar {
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-top: 6px solid black;
    border-bottom: 1px solid black;
}

.navbar a {
    font-family: 'Inter';
    padding: 14px 16px;
    padding-bottom: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    border-bottom: 3px solid black;
}

.category {
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: rgb(235, 235, 235);
    margin: 10px;
}

.category a {
    font-family: "Inter";
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px 16px;
}

#red {
    color: red;
    background-color: white;
}

.category a:hover, #red:hover {
    color: grey;
    transition: 1s;
}

.category_container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    max-width: 1100px;
    font-family: "Libre Franklin";
    font-weight: 900;
    text-transform: none;
    font-size: 24px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 1100px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

.more_articles {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 1100px;
    padding-bottom: 20px;
}

.container_last {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 1100px;
}

.article-container {
    width: 100%;
    flex: 0 0 33.33333%;
}

.info-container {
    padding: 10px;
}

.info-container:hover {
    background-color: rgb(255, 235, 235);
    transition: 0.5s;
}

.topic {
    color: red;
    font-family: "Inter";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 9px;
}

.title {
    font-family: "Libre Franklin";
    font-weight: 600;
    font-size: 18px;
}

.description {
    font-family: "Libre Franklin";
    padding-top: 10px;
    font-weight: 400;
    font-size: 12px;
}

#b, #c, #d, #e, #f, #g {
    margin-top: 20px;
}

.close_btn {
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.open {
    border-radius: 15px;
    padding: 20px 150px 20px 150px;
    border: none;
    font-family: 'Libre Franklin';
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.open:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}

.screen_width {
    border-top: 5px solid black;
    margin-top: 50px;
}

.footer_container_l {
    float: left;
    width: 60%;
    padding: 50px 0px 50px 200px;
}

.footer_container_r {
    float: left;
    width: 40%;
    padding: 50px 200px 50px 50px;
    font-family: 'Libre Franklin'; 
    font-size: 14px;
}

.footer:after {
    content: "";
    display: table;
    clear: both;
}

.footer_description {
    margin-left: 5px;
    padding-top: 15px;
    font-size: 13px;
    font-family: 'Libre Franklin';
}

@media (max-width: 1120px) {
    .category {
        display: none;
    }
    
    .category_container {
        margin-top: 15px;
    }
    .footer_container_l {
        padding: 50px 10px 50px 10px;
    }
    
    .footer_container_r {
        padding: 50px 10px 50px 10px;
    }
}

@media (max-width: 1000px) {
    .container, .category_container, .container_last {
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .article-container {
        flex: 0 0 50%;
    }
}

@media (max-width: 700px) {
    .article-container {
        flex: 0 0 100%;
    }
    
    .open {
        padding: 20px 50px 20px 50px;
    }
}
